# Generated Protobufs
**/protobuf/

# Jetbrains Ides
.idea/
**/*.iml

**/__pycache__/**

# Node
**/node_modules
**/package-lock.json
**/npm-debug.log

# Sanic
config.py

# Webpack
**/dist


# misc
.DS_Store
.env
**/rethinkdb_data
**/.vscode

# AWS
**/amplify/\#current-cloud-backend
**/aws-info.json
**/project-config.json
**/aws-exports.*
**/amplify/backend/function/*/src/node_modules/
**/amplify/backend/function/*/dist/

# Rust
**/*.rs.bk
**/target/
**/sawtooth-core
